html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}


.structure{
  display: block;
  justify-content: center;
  align-items: center;
  background-color: white;
  text-align: center;
  border-radius: 15px;
  box-shadow: 2px 3px #B6B6B4;
}

.selected{
  display: block;
  justify-content: center;
  align-items: center;
  background-color: white;
  text-align: center;
  border-radius: 15px;
  box-shadow: 2px 3px #B6B6B4;
  border: 5px solid #FBB917;
}
.unselected{
  display: block;
  justify-content: center;
  align-items: center;
  background-color: white;
  text-align: center;
  border-radius: 15px;
  box-shadow: 2px 3px #B6B6B4;
  border: none;
}

.struct-img{
  padding: 20px;
}
.struct-text{
  font-weight: lighter;
}

.filter {
    width:97%;
    margin-top: 5%;
}
.filter-head{
  margin-bottom: 30px;
}


.multiselect {
  border: none !important;
}





.button{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  width: 100%;
}

.btn-success{
  background-color: #20B2AA !important;
}
.btn{
  border-radius: 20px !important;
}

.Rcard {
  background-color: white;
  border-radius: 15px;
  box-shadow: 2px 3px #B6B6B4;
}

.rating{
  display: flex;
}

.proxImage{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
  text-align: center;
}